html {
    font-size: 10px;
    font-family: 'open Sans', sans-serif;
    background-color: white;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #e2e2e2;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    font-size: 50px;
    text-align: left;
    margin: 0;
    padding: 20px 0;
    color: #afbb6e;
    text-shadow: 3px 3px 1px black;
}

h2 {
    font-size:30px;
    text-align: left;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: 0 auto;
}